<h4 class="text-center">ユーザ一覧</h4>

<% cnt = 1 %>
<% @users.each do |user| %>
  <ul class="list-group">
    <li class="list-group-item">
      <%= cnt %>. <%= link_to user.name, user_path(user.id) %>
      <% if current_user != user %>
        <button type="button" class="btn btn-outline-success">＋フォロー</button>
      <% end %>
    </li>
  </ul>
  <% cnt += 1%>
<% end %>
