<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<ul class="list-group">
  <li class="list-group-item"><%=@user.name %></li>
</ul>
<ul class="list-group">
  <li class="list-group-item"><%=@user.email %></li>
</ul>
