/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// my added
@import "bootstrap";
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

// Twitterからパクった
.center-block {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

// リストのリンクの振る舞いを消す
.contents {
    color: black;
}

.card-link a {
    color: #6c757d;
}

.card-link a:hover {
    text-decoration: underline;
}

a:hover{
    text-decoration: none;
}

// リストにホバーしたら色を変える
.list-group-item {
    background-color: white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}
.list-group-item:hover {
    background-color: antiquewhite;
}

// いいねの色 from Twitter
.like {
    color: rgb(224, 36, 94);
}
.not_like {
    color: rgb(110, 118, 125);
}

// RTの色 from Twitter
.retweet {
    color: rgb(23, 191, 99);
}
.not_retweet {
    color: rgb(110, 118, 125);
}

.user-icon {
    border-radius: 100px;
    border-style: solid;
}
